traderrl/__pycache__/agent.cpython-36.pyc
traderrl/__pycache__/auth.cpython-35.pyc
traderrl/__pycache__/memory.cpython-36.pyc
traderrl/__pycache__/model.cpython-36.pyc
traderrl/__pycache__/player.cpython-36.pyc
traderrl/__pycache__/state.cpython-35.pyc
traderrl/__pycache__/state.cpython-36.pyc
traderrl/__pycache__/utilities.cpython-35.pyc
traderrl/__pycache__/utilities.cpython-36.pyc
tests/test4.py
data/AUD_USD2900M11997.npy
data/AUD_USD2900M12002.npy
data/AUD_USD2900M11998.npy
data/AUD_USD2900M11999.npy
data/AUD_USD2900M12000.npy
data/AUD_USD2900M12001.npy
data/AUD_USD2900M12003.npy
data/AUD_USD2900M12004.npy
data/AUD_USD2900M12005.npy
data/AUD_USD2900M12006.npy
data/AUD_USD2900M12007.npy
data/AUD_USD2900M12008.npy
data/AUD_USD2900M12009.npy
data/AUD_USD2900M12010.npy
data/AUD_USD2900M12011.npy
data/AUD_USD2900M12012.npy
data/AUD_USD2900M12013.npy
data/AUD_USD2900M12014.npy
data/AUD_USD2900M12015.npy
data/AUD_USD2900M12016.npy
data/AUD_USD2900M12017.npy
data/AUD_USD2900M12018.npy
data/AUD_USD480M151997.npy
data/AUD_USD480M151998.npy
data/AUD_USD480M151999.npy
data/AUD_USD480M152000.npy
data/AUD_USD480M152001.npy
data/AUD_USD480M152002.npy
data/AUD_USD480M152003.npy
data/AUD_USD480M152004.npy
data/AUD_USD480M152005.npy
data/AUD_USD480M152006.npy
data/AUD_USD480M152007.npy
data/AUD_USD480M152008.npy
data/AUD_USD480M152009.npy
data/AUD_USD480M152010.npy
data/AUD_USD480M152011.npy
data/AUD_USD480M152012.npy
data/AUD_USD480M152013.npy
data/AUD_USD480M152014.npy
data/AUD_USD480M152015.npy
data/AUD_USD480M152016.npy
data/AUD_USD480M152017.npy
data/AUD_USD480M152018.npy
min1/PPO2_14/events.out.tfevents.1560584154.adaptation-desktop
min1/PPO2_1/events.out.tfevents.1560493821.adaptation-desktop
min1/PPO2_10/events.out.tfevents.1560516695.adaptation-desktop
min1/PPO2_11/events.out.tfevents.1560552896.adaptation-desktop
min1/PPO2_12/events.out.tfevents.1560579379.adaptation-desktop
min1/PPO2_13/events.out.tfevents.1560579807.adaptation-desktop
min1/PPO2_15/events.out.tfevents.1560673254.adaptation-desktop
min1/PPO2_16/events.out.tfevents.1560792762.adaptation-desktop
min1/PPO2_17/events.out.tfevents.1560912308.adaptation-desktop
min1/PPO2_18/events.out.tfevents.1560925742.adaptation-desktop
min1/PPO2_19/events.out.tfevents.1560988135.adaptation-desktop
min1/PPO2_2/events.out.tfevents.1560493902.adaptation-desktop
min1/PPO2_20/events.out.tfevents.1560992595.adaptation-desktop
min1/PPO2_21/events.out.tfevents.1561112712.adaptation-desktop
min1/PPO2_22/events.out.tfevents.1561231976.adaptation-desktop
min1/PPO2_3/events.out.tfevents.1560495667.adaptation-desktop
min1/PPO2_4/events.out.tfevents.1560496272.adaptation-desktop
min1/PPO2_5/events.out.tfevents.1560496411.adaptation-desktop
min1/PPO2_6/events.out.tfevents.1560496889.adaptation-desktop
min1/PPO2_7/events.out.tfevents.1560502582.adaptation-desktop
min1/PPO2_8/events.out.tfevents.1560513964.adaptation-desktop
min1/PPO2_9/events.out.tfevents.1560514323.adaptation-desktop
traderrl/env/__pycache__/__init__.cpython-36.pyc
traderrl/env/__pycache__/env2.cpython-36.pyc
traderrl/env/__pycache__/market_live.cpython-36.pyc
traderrl/env/__pycache__/pairs.cpython-36.pyc
traderrl/env/__pycache__/player.cpython-36.pyc
traderrl/env/__pycache__/state.cpython-36.pyc
traderrl/env/__pycache__/state_over_time.cpython-36.pyc
traderrl/env/__pycache__/template_env.cpython-36.pyc
traderrl/env/__pycache__/test.cpython-36.pyc
traderrl/lib/__pycache__/__init__.cpython-36.pyc
traderrl/common/__pycache__/__init__.cpython-36.pyc
traderrl/common/__pycache__/auth.cpython-36.pyc
traderrl/common/__pycache__/indicators.cpython-36.pyc
traderrl/common/__pycache__/memory.cpython-36.pyc
traderrl/common/__pycache__/policy.cpython-36.pyc
traderrl/common/__pycache__/utilities.cpython-36.pyc
traderrl/agents/__pycache__/ppo2_agent.cpython-36.pyc
__pycache__/__main__.cpython-36.pyc
traderrl/agents/__pycache__/SAC_agent.cpython-36.pyc
traderrl/agents/__pycache__/__init__.cpython-36.pyc
traderrl/__pycache__/__init__.cpython-36.pyc
saves/ret_rms.pkl
saves/obs_rms.pkl
saves/min11.pkl
saves/min10.pkl
saves/min1.pkl
saves/min0.pkl
