torch==0.4.0
gym
git+git://github.com/deepmind/dm_control.git
git+https://github.com/ShangtongZhang/dm_control2gym.git@scalar_fix
torchvision>=0.2.1
atari-py>
opencv-python
tensorboardX
scikit-image
sklearn
tqdm
pandas
pathlib
seaborn
v20
oandapyV20
pyti
numpy
stable-baselines
opencv-python
mss



